/* main.css */

body {
    position: relative;
  }

/* navbar fixed-top scroll offset */

  *[id]:before { 
    display: block; 
    content: " "; 
    margin-top: -75px; 
    height: 75px; 
    visibility: hidden; 
  }

/* Light mode */
@media (prefers-color-scheme: light) {
    nav, body {
        background-color: white;
        color: black;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    nav, body {
        background-color: black;
        color: white;
    }
}

.main {
    padding-top:75px;
}

/*Navbar */

.navbar-nav {
    flex-direction: row!important;
    flex-wrap: wrap;
}

.navbar-nav li {
    display: inline-block;
    padding-left:0.30rem!important;
    padding-right:0.30rem!important;
}

.navbar-toggler {
    border: none;
    padding: 0;

}

ul.emoji-list {
    text-align: center;
    padding-left:0;
}

li.emoji-item {
    list-style-type: none;
    display: inline-block;
    line-height: 100px;
    vertical-align:top;
}

.emoji-symbol {
 font-size: 3rem;
}
.emoji-description {
    line-height: 0.70rem;
    font-size:0.76rem;
}