/* main.css */

/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}

ul.emoji-list {
    text-align: center;
}

li.emoji-item {
    list-style-type: none;
    display: block;
}

.emoji-symbol {
 font-size: 3rem;
}
.emoji-description {
    line-height: 0.70rem;
    font-size:0.76rem;
}