<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Open Iconic Bootstrap -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
        integrity="sha512-UyNhw5RNpQaCai2EdC+Js0QL4RlVmiq41DkmCJsRV3ZxipG2L0HhTqIf/H9Hp8ez2EnFlkBnjRGJU2stW3Lj+w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="css/main.css">
    <!--Google Analytics-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-46528775-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-46528775-5');
    </script>
    <!-- Adsense Code-->
    <script data-ad-client="ca-pub-8168184751026221" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">

    <title>Emoji Cheat Sheet</title>
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="50">
    <nav id="navbar" class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
        <div class="container">
            <div class="emoji-navlinks navbar-collapse collapse show">
                <a class="navbar-brand d-none d-md-block" href="#">Emoji Cheat Sheet</a>
                <ul class="navbar navbar-nav navbar-emoji-picker mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#smileys-&-emotion" title="Smileys & Emotion">😀</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#people-&-body" title="People & Body">👫</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#animals-&-nature" title="Animals & Nature">🐻</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#food-&-drink" title="Food & Drink">🍔</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#travel-&-places" title="Travel & Places">🚗</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#activities" title="Activities">⚽</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#objects" title="Objects">💡</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#symbols" title="Symbols">🆗</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#flags" title="Flags">🚩</a>
                    </li>
                    <li class="nav-item nav-search-link">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSearch"
                            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                            <a class="nav-link d-lg-none search-link" href="#" title="Search" for="search-field"><span
                                    class="oi oi-magnifying-glass"></span></a>
                        </button>
                    </li>
                </ul>

            </div>
            <div class="navbar-collapse collapse" id="navbarSearch">
                <ul class="navbar navbar-nav navbar-search ml-auto">
                    <li class="nav-item">
                        <form class="form-inline my-lg-0">
                            <div class="input-group">
                                <input id="search-field" class="form-control" type="search" placeholder="Search"
                                    aria-label="Search">
                                <div class="input-group-append">
                                    <span class="input-group-text"><a class="search-clear" href="#"><span
                                                class="oi oi-x"></a></span></span>
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="emoji" class="container main my-3" data-spy="scroll" data-target="#navbar" data-offset="50">
        <div class="alert alert-info alert-dismissible small fade show text-center" role="alert">
            This cheat sheet shows <a class="alert-link" href="https://unicode.org/emoji/charts/full-emoji-list.html"
                target="_blank">all v13.0 emojis</a>. Some may not be supported on your device yet. <a
                href="#learn-more" class="alert-link">Learn more</a>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <h1 class="d-block d-sm-none text-center mobile-brand">Emoji Cheat Sheet</h1>
        <hr />
        <div class="row">
            <ul id="target" class="emoji-list list">
                <h2 id="smileys-&-emotion" class="my-1"> Smileys & Emotion </h2>
                {{#emojis-smileys-emotion}}
                <li class="col-4 col-md-2 emoji-item">
                    <div class="emoji-symbol btn" data-clipboard-text="{{emoji}}" data-toggle="tooltip"
                        data-placement="top" title="Copy">{{emoji}}</div>
                    <div class="emoji-description"><small>{{description}}</small></div>
                    <div class="emoji-tags">{{#tags}}{{.}} {{/tags}}</div>
                </li>
                {{/emojis-smileys-emotion}}
                <hr class="cat-divider" />
                <h2 id="people-&-body" class="my-1"> People & Body </h2>
                {{#emojis-people-body}}
                <li class="col-4 col-md-2 emoji-item">
                    <div class="emoji-symbol btn" data-clipboard-text="{{emoji}}" data-toggle="tooltip"
                        data-placement="top" title="Copy">{{emoji}}</div>
                    <div class="emoji-description"><small>{{description}}</small></div>
                    <div class="emoji-tags">{{#tags}}{{.}} {{/tags}}</div>
                </li>
                {{/emojis-people-body}}
                <hr class="cat-divider" />
                <h2 id="animals-&-nature" class="my-1"> Animals & Nature </h2>
                {{#emojis-animals-nature}}
                <li class="col-4 col-md-2 emoji-item">
                    <div class="emoji-symbol btn" data-clipboard-text="{{emoji}}" data-toggle="tooltip"
                        data-placement="top" title="Copy">{{emoji}}</div>
                    <div class="emoji-description"><small>{{description}}</small></div>
                    <div class="emoji-tags">{{#tags}}{{.}} {{/tags}}</div>
                </li>
                {{/emojis-animals-nature}}
                <hr class="cat-divider" />
                <h2 id="food-&-drink" class="my-1"> Food & Drink </h2>
                {{#emojis-food-drink}}
                <li class="col-4 col-md-2 emoji-item">
                    <div class="emoji-symbol btn" data-clipboard-text="{{emoji}}" data-toggle="tooltip"
                        data-placement="top" title="Copy">{{emoji}}</div>
                    <div class="emoji-description"><small>{{description}}</small></div>
                    <div class="emoji-tags">{{#tags}}{{.}} {{/tags}}</div>
                </li>
                {{/emojis-food-drink}}
                <hr class="cat-divider" />
                <h2 id="travel-&-places" class="my-1"> Travel & Places </h2>
                {{#emojis-travel-places}}
                <li class="col-4 col-md-2 emoji-item">
                    <div class="emoji-symbol btn" data-clipboard-text="{{emoji}}" data-toggle="tooltip"
                        data-placement="top" title="Copy">{{emoji}}</div>
                    <div class="emoji-description"><small>{{description}}</small></div>
                    <div class="emoji-tags">{{#tags}}{{.}} {{/tags}}</div>
                </li>
                {{/emojis-travel-places}}
                <hr class="cat-divider" />
                <h2 id="activities" class="my-1"> Activities </h2>
                {{#emojis-activities}}
                <li class="col-4 col-md-2 emoji-item">
                    <div class="emoji-symbol btn" data-clipboard-text="{{emoji}}" data-toggle="tooltip"
                        data-placement="top" title="Copy">{{emoji}}</div>
                    <div class="emoji-description"><small>{{description}}</small></div>
                    <div class="emoji-tags">{{#tags}}{{.}} {{/tags}}</div>
                </li>
                {{/emojis-activities}}
                <hr class="cat-divider" />
                <h2 id="objects" class="my-1"> Objects </h2>
                {{#emojis-objects}}
                <li class="col-4 col-md-2 emoji-item">
                    <div class="emoji-symbol btn" data-clipboard-text="{{emoji}}" data-toggle="tooltip"
                        data-placement="top" title="Copy">{{emoji}}</div>
                    <div class="emoji-description"><small>{{description}}</small></div>
                    <div class="emoji-tags">{{#tags}}{{.}} {{/tags}}</div>
                </li>
                {{/emojis-objects}}
                <hr class="cat-divider" />
                <h2 id="symbols" class="my-1"> Symbols </h2>
                {{#emojis-symbols}}
                <li class="col-4 col-md-2 emoji-item">
                    <div class="emoji-symbol btn" data-clipboard-text="{{emoji}}" data-toggle="tooltip"
                        data-placement="top" title="Copy">{{emoji}}</div>
                    <div class="emoji-description"><small>{{description}}</small></div>
                    <div class="emoji-tags">{{#tags}}{{.}} {{/tags}}</div>
                </li>
                {{/emojis-symbols}}
                <hr class="cat-divider" />
                <h2 id="flags" class="my-1"> Flags </h2>
                {{#emojis-flags}}
                <li class="col-4 col-md-2 emoji-item">
                    <div class="emoji-symbol btn" data-clipboard-text="{{emoji}}" data-toggle="tooltip"
                        data-placement="top" title="Copy">{{emoji}}</div>
                    <div class="emoji-description"><small>{{description}}</small></div>
                    <div class="emoji-tags">{{#tags}}{{.}} {{/tags}}</div>
                </li>
                {{/emojis-flags}}


            </ul>
        </div>
        <hr />

        <h2 id="learn-more">Learn more</h2>
        <p><strong>A note from the author:</strong> Hi! I made this cheat sheet as an easy way for people on devices who
            don't have emoji keyboards to be able to quickly grab an emoji, then paste it wherever they need to use it!
        </p>
        <p>Not all emoji are supported on all devices, so if you see one above that doesn't look right, your device may
            not support it yet. For a full list of all emoji and their compatibility across devices, check the <a
                href="https://unicode.org/emoji/charts/full-emoji-list.html" target="_blank">full list of emoji
                v13.0</a> on the Unicode Consortium website.</p>
        <p>My name is <a href="https://twitter.com/jamescroft" target="_blank">James Croft</a>, and I'm a web developer
            from Brisbane, Australia.</p>
    </div>
    <hr />
    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">Emoji Cheat Sheet. Last updated: July 2020.</span>
        </div>
    </footer>

    <!-- jQuery, Popper.js, bootstrap.js -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

    <!-- clipboard.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>

    <!-- List.js-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

    <!-- Cheat Sheet-->
    <script src="js/main.js"></script>

</body>

</html>